
.start-battle-container {
  border-top: 2px solid #FFF;
}



.start-battle-button a {
  background-color: #F0141E;
  border-radius: 25px;
  bottom: 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin: 1em;
  padding: .5em 1em;
  position: fixed;
  text-decoration: none;
}
