@import 'reset';


$colorBack: #F0141E;
$text-color: #FFF;

body {
  background-color: #00F;
  color: $text-color;
  font-family: sans-serif;
}

.home-page {

  h1 {
    @extend .top-banner;
    font-weight: bold;
    font-size: 3.5em;
    padding: .25em 1em;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 5px;
    left: 10px;
  }
}

.top-banner {
  background-color: #00F;
  border-bottom: 2px solid #FFF;
  color: $text-color;
  font-family: sans-serif;
  overflow: auto;

  h1 {
    float: left;
    font-weight: bold;
    font-size: 2em;
    padding: .25em;
  }

}
