<!DOCTYPE html>

<html>
  <head>
    <title>Select your hero</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="top-banner"><h1>Select Your Hero</h1><a class="return-button" href="index.html">Return</a></div>

    <div class="start-battle-container">

      <div class='arenaBottom'><button href="battle.html">Begin Battle!</button></div>
    </div>

    <script type="text/html" id="hero-template">
      <li>
        <span class="hero-name"> <%= name %></span>
        <img class="hero-image" src="<%= thumbnail %>"/>
      </li>
    </script>


  </body>
</html>
